 <div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg"%>
    </div>

    <div id="content">
    <h1>It's Mr. Programmer!</h1>
    <p>
    A programmer, developer, dev, coder, or software
    engineer is a person who creates computer software.
    The term computer programmer can refer to a
    specialist in one area of computers or to a generalist
    who writes code for many kinds of software.
    </p>
    </div>
    </div>